header {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  margin: 0 auto;
  padding: 40px 0;

  .theme-change {
    margin-right: 54px;
    display: flex;
    align-items: center;

    .line {
      background: #6C6C6C;
      width: 1px;
      height: 24px;
      margin: 0 32px;
    }
  }
}

.fs-32 {
  font-size: 32px;
}

.gradient-line {
  height: 13px;
  width: 153px;
  background: linear-gradient(to right, #46BED6, #4768B0);
}

.block {
  padding: 166px 0;
}

.link-open {
  font-weight: 500;
  color: #fff;
  text-decoration: none;

  &.link-blue {
    color: #4766AF;

    &::after {
      background: #4766AF;
    }
  }

  &::after {
    width: 32px;
    height: 20px;
    display: inline-block;
    content: '';
    -webkit-mask: url('/src/assets/icons/link-open.svg') no-repeat;
    mask: url('/src/assets/icons/link-open.svg') no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    background: #fff;
  }
}

.icon-circle-block {
  position: relative;
  width: 88px;
  height: 88px;
  margin-right: 29px;

  .icon-circle {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #6C6C6C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;

    &.stroke {
      svg {
        stroke: #4766AF;
      }
    }

    &.fill {
      svg {
        fill: #4766AF;
      }
    }

    &:hover {
      background: #4766AF;

      &.stroke {
        svg {
          stroke: #fff;
        }
      }

      &.fill {
        svg {
          fill: #fff;
        }
      }
    }
  }

  .bottom-circle {
    content: " ";
    width: 88px;
    height: 88px;
    border: 1px solid #6C6C6C;
    border-radius: 50%;
    position: absolute;
    z-index: -1; /* Adjusted z-index */
    margin-left: 5px;
    margin-top: 2px;
    top: 0;
    left: 0;
  }
}

.map {
  width: 100%;
}

footer {
  background: #212121;
  color: #FFFFFF;
  padding: 72px 0;

  hr {
    margin-top: 64px;
    border-color: #fff;
    opacity: 1;
  }

  p, a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 34px;
    margin-bottom: 0;
  }

  p {
    font-weight: 500;
  }

  a {
    font-weight: 300;
  }

  .line {
    width: 1px;
    height: 23px;
    background: #fff;
    margin-right: 32px;
  }
}