@media only screen and (max-width: 600px) {
  .header-container {
    padding: 0 6.25vw;
    .regular-header {
      .header-sections {
        .upper-header {
          .header-other-links {
            justify-content: flex-end;
            .header-theme-change {
              display: none;
            }
          }
        }
      }
    }
    .extended-header {
      padding: 0 6.25vw;
      height: 100vh;
      .header-sections {
        .upper-header {
          .header-other-links {
            justify-content: space-between;
            .header-theme-change {
              display: flex;
              width: 80px;
            }
            .contact {
              display: none !important;
            }
          }
        }
        .bottom-header {
          margin-top: 24px;
          flex-direction: column;
          .mobile-circles {
            display: flex;
            .icon-circle-block {
              width: 40px;
              height: 40px;
              .icon-circle {
                width: 40px;
                height: 40px;
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
              .bottom-circle {
                z-index: 0;
                width: 40px;
                height: 40px;
                margin-left: 2px;
              }
            }
          }
          .directions {
            width: 74.6vw;
            margin-top: 48px;
            .one-direction {
              .number {
                h2 {
                  font-size: 20px;
                }
              }
              .theme {
                margin-left: 10vw;
                h1 {
                  font-size: 20px;
                }
              }
            }
          }
          .photos {
            display: none;
          }
        }
      }
    }
  }
}
