@media (max-width: 500px) {
  .work-block {
    padding: 0;
    .container {
      padding: 0;

      .work-header {
        height: 74px;
        border-radius: 0 24px 0 0;
        padding: 0 20px;
        h2 {
          font-size: 10px;
          width: 32vw;
        }
        .link-open {
          font-size: 10px;
          width: 21vw;
          display: flex;
          align-items: center;
          margin-top: 0;

          &::after {
            width: 8px;
            height: 8px;
          }
        }
      }

      .work-body {
        div {
          padding-left: 18px;
          .link-open {
            font-size: 10px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;

            &::after {
              width: 8px;
              height: 8px;
            }
          }
        }
        .work-image-laptop {
          display: none;
        }

        .work-image-mobile {
          display: block;
          height: auto;
          width: 58.75vw;
        }
      }

      .work-footer {
        padding: 31px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #6c6c6c;
        border-top: none;

        .gradient-line-work {
          display: block;
          width: 165px;
          height: 20px;
          position: absolute;
          rotate: 90deg;
          margin-top: 90px;
          margin-left: -60px;
        }

        &__item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 37px;

          .icon-circle {
            width: 39px;
            height: 39px;
          }
          .bottom-circle {
            width: 39px;
            height: 39px;
            left: -3px;
          }
          .icon-circle-block {
            width: 39px;
            height: 39px;
            margin-bottom: 0;
            svg {
              width: 14px;
            }
          }

          p {
            margin-bottom: 0;

            &:nth-child(1) {
              font-size: 10px;
              font-weight: 600;
              color: #474747;
              text-transform: uppercase;
            }

            &:nth-child(2) {
              font-size: 10px;
              color: #474747;
              max-width: 364px;
            }
          }
        }
      }

      .block {
        .second-img-work-laptop {
          display: none;
        }
        .second-img-work-min {
          display: block;
        }

        padding: 0;
        .content {
          padding: 25px 6.25vw 20px 4.38vw;
          h3 {
            font-size: 10px;
          }
          svg {
            height: 21px;
            width: 21px;
          }

          p {
            font-size: 8px;
            margin-left: 4px;
          }
          .adv {
            margin-top: 0;
            &__item {
              display: flex;
              align-items: center;
              margin-bottom: 8px;
            }
          }
        }
        .above-link-open {
          margin-top: 24px !important;
          .link-open {
            font-size: 12px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 48px;

            &::after {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
  }
}
