@media (max-width: 500px) {
  .container {
    padding: 48px 6.25vw;
  }
  .gradient-line {
    width: 14vw;
    height: 4px;
  }
  .as-part-of h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .exists {
    flex-direction: column;
  }
  .exists--logo {
    width: 30vw;
  }
  .exists--part {
    margin-top: 25px;
    width: 87.5vw;
  }
  .rewards-block {
    margin-top: 48px;
    .rewards-title {
      font-size: 12px;
    }
    .rewards {
      margin: 0;
      padding: 16px 4vw 10px 1.5vw;
      width: 87.5vw;
      height: 70px;
      border-radius: 0 12.65px 12.65px 12.65px;

      &__item {
        width: 27.8vw;

        img {
          width: 12.5vw;
        }
        p {
          font-size: 10px;
        }
      }
      &__open-full {
        margin-top: 53px;
        margin-right: 5vw;

        img {
          width: 22px;
          height: 32px;
        }
      }

      .rewards-item p {
        font-size: 8px;
      }
    }
  }
}
