@media (max-width: 500px) {
  body,
  html {
    overflow-x: hidden;
  }

  .container {
    padding: 8px 20px;
  }

  .home-block {
    justify-content: center;
    align-items: center;
    height: 667px;
    .container {
      margin-top: 0;

      .text {
        font-size: 32px;

        &:nth-child(1) {
          text-align: center;
        }

        &:nth-child(2) {
          text-align: center;
          margin-right: -120px;
        }
      }
    }
  }

  header .theme-change {
    display: none;
  }

  //as-part-of

  .container {
    padding: 48px 6.25vw;
  }
  .gradient-line {
    width: 14vw;
    height: 4px;
  }
  .as-part-of h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .exists {
    flex-direction: column;
  }
  .exists--logo {
    width: 30vw;
  }
  .exists--part {
    margin-top: 25px;
    width: 87.5vw;
  }
  .rewards-block {
    margin-top: 48px;
    .rewards-title {
      font-size: 12px;
    }
    .rewards {
      margin: 0;
      padding: 16px 4vw 10px 1.5vw;
      width: 87.5vw;
      height: 70px;
      border-radius: 0 12.65px 12.65px 12.65px;

      &__item {
        width: 27.8vw;

        img {
          width: 12.5vw;
        }
        p {
          font-size: 10px;
        }
      }
      &__open-full {
        margin-top: 53px;
        margin-right: 5vw;

        img {
          width: 22px;
          height: 32px;
        }
      }
      .content {
      }
      .rewards-item p {
        font-size: 8px;
      }
    }
  }

  // advantages

  .advantages-block {
    height: 568px;
    background: url('/src/assets/img/advantages/bg-advantages-mobile.png') no-repeat;
    background-size: 100vw;

    .container {
      flex-direction: column;
    }
    .line {
      height: 1px;
      width: 49.3vw;
      background: #fff;
      margin-bottom: 30px;
    }

    .item {
      min-height: 0;
      p {
        font-size: 12px;
        max-width: 150px;
      }
      .gradient-line-mobile {
        transform: translateY(-80px);
      }
    }
  }

  .top-bar-block {
    background: #4766af;
    height: 28px;
    width: 100%;

    .container {
      position: relative;
      padding: 0;
      height: 28px;

      .on-top {
        margin-left: 21px;
        width: 28vw;
      }

      .media-buying {
        margin-left: 40vw;
        margin-top: -19px;
        height: 64px;
        width: 64px;
      }
    }
    .a-refs {
      margin-right: 16px;
      display: flex;
      align-items: center;
    }
    a {
      font-size: 10px;
      margin-right: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // Team

  .team-block {
    .portrait {
      margin-top: 24px;
      width: 57.5vw;
      height: 57.5vw;
      background: #e6e6e6;
      img {
        width: 57.5vw;
        height: 57.5vw;
      }
    }
    h3 {
      font-size: 20px;
    }
    .text-muted {
      font-size: 12px;
    }
    p {
      font-size: 12px;
      margin-bottom: 0;
    }

    .description {
      padding-left: 10px;

      h2 {
        position: absolute;
        font-size: 24px;
        margin-bottom: 0;
        margin-top: -335px;
        text-transform: uppercase;
      }

      p {
        margin-top: 24px;
        font-size: 10px;
        width: 84vw;
      }

      .full-btn {
        svg {
          margin-right: 15px;
          position: absolute;
          right: 20px;
          width: 10px;
          height: 15px;
        }
        .gradient-line {
          width: 46px;
          position: absolute;
          right: 50px;
        }
      }
    }
    .temmates-grid-mobile {
      display: flex;
    }
    .teammates {
      gap: 24px 10px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 27px;
      .teammate {
        margin-right: 0;
        width: 42vw;
        .portrait {
          width: 42vw;
          height: 42vw;
          margin: 0;
        }
        img {
          width: 42vw;
          height: 42vw;
          margin: 0;
        }

        h3 {
          max-width: 42vw;
          font-size: 12px;
        }
        p {
          max-width: 342px;
          text-wrap: pretty;
          font-size: 10px;
          color: #6c6c6c;
          margin-bottom: 0;
        }
      }
    }
  }

  // directions

  .directions-block {
    h2 {
      font-size: 24px;
      text-shadow: none;
    }
    margin-bottom: 0;

    .directions__item {
      margin-top: 24px;

      h3 {
        margin-bottom: 8px;
        font-size: 16px;
      }

      p {
        max-width: 87.5vw;
        font-size: 10px;
      }
      // TODO: image and mt after h2
    }
    .image-direction {
      justify-content: center !important;
      img {
        width: 57.5vw;
      }
    }
  }

  // work

  .work-block {
    padding: 0;
    .container {
      padding: 0;

      .work-header {
        height: 74px;
        border-radius: 0 24px 0 0;
        padding: 0 20px;
        h2 {
          font-size: 10px;
          width: 32vw;
        }
        .link-open {
          font-size: 10px;
          width: 21vw;
          display: flex;
          align-items: center;
          margin-top: 0;

          &::after {
            width: 8px;
            height: 8px;
          }
        }
      }

      .work-body {
        div {
          padding-left: 18px;
          .link-open {
            font-size: 10px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;

            &::after {
              width: 8px;
              height: 8px;
            }
          }
        }
        .work-image-mobile {
          height: auto;
          width: 58.75vw;
        }
      }

      .work-footer {
        padding: 31px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #6c6c6c;
        border-top: none;

        &__item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 37px;

          .icon-circle {
            width: 39px;
            height: 39px;
          }
          .bottom-circle {
            width: 39px;
            height: 39px;
            left: -3px;
          }
          .icon-circle-block {
            width: 39px;
            height: 39px;
            margin-bottom: 0;
            svg {
              width: 14px;
            }
          }

          p {
            margin-bottom: 0;

            &:nth-child(1) {
              font-size: 10px;
              font-weight: 600;
              color: #474747;
              text-transform: uppercase;
            }

            &:nth-child(2) {
              font-size: 10px;
              color: #474747;
              max-width: 364px;
            }
          }
        }
      }

      .block {
        padding: 0;
        .content {
          padding: 25px 6.25vw 20px 4.38vw;
          h3 {
            font-size: 10px;
          }
          svg {
            height: 21px;
            width: 21px;
          }

          p {
            font-size: 8px;
            margin-left: 4px;
          }
          .adv {
            margin-top: 0;
            &__item {
              display: flex;
              align-items: center;
              margin-bottom: 8px;
            }
          }
        }
        .above-link-open {
          margin-top: 24px !important;
          .link-open {
            font-size: 12px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 48px;

            &::after {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 0;
    hr {
      margin-top: 27px;
    }
    .container {
      padding: 31px 29px 24px 20px;
      .divider {
        margin-left: -24px;
        width: 100vw;
      }
      .copyright {
        font-size: 8px;
        margin-top: 22px;
      }
      img {
        width: 15vw;
      }
      .links {
        .line {
          position: absolute;
          height: 10vw;
          margin-left: -20px;
          margin-top: 5px;
        }
        .common-links {
          width: 49vw;
          margin-left: 57px;
          display: flex;
          flex-wrap: wrap;

          a {
            font-size: 8px;
            margin-right: 16px;
            margin-bottom: 11px;
          }
        }
      }
      .footer-other-info {
        flex-direction: column-reverse;
        .footer-mobile-email {
          flex-direction: row-reverse;
          justify-content: space-between;
          .emails {
            flex-direction: column;
            margin-left: 0;
            div {
              margin-top: 8px;
            }
          }
          img {
            width: 16px;
          }
          p {
            font-size: 8px;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
