.page-about-us {
  .about-us-block {
    height: 1712px;
    padding: 258px 11.98vw 211px 12.5vw;
    .who-we-are {
      display: flex;
      justify-content: space-between;
      .description {
        width: 33.02vw;
        h1 {
          font-size: 64px;
        }
        p {
          font-size: 20px;
          margin-bottom: 0;
        }
        .hr-none {
          opacity: 0;
          margin: 0;
          height: 64px;
        }
      }
      .about-us-img {
        margin-right: 10px;
        width: 36.88vw;
      }
      .about-us-img-mobile {
        display: none;
      }
    }

    .our-office {
      height: 743px;
      display: flex;
      justify-content: space-between;
      .first-img {
        width: 30.52vw;
        align-self: flex-start;
      }
      .second-img {
        width: 43.75vw;
        align-self: flex-end;
      }
      .h2 {
        position: absolute;
      }
    }
    .our-office-text {
      position: absolute;
      left: 35.8vw;
      display: flex;
      width: 18.49vw;
      min-width: 305px;
      justify-content: space-between;
      margin-top: -250px;
      h2 {
        font-size: 64px;
      }
      .white {
        color: #ffffff;
      }
    }
  }

  // middle

  .middle-block {
    background: url('/src/assets/img/about-us/background.png') no-repeat;
    height: 1112px;
    padding: 313px 39.74vw 675px 12.5vw;

    h3 {
      font-size: 48px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  // our workers

  .our-workers {
    height: 1182px;
    padding: 208px 12.5vw;
    h3 {
      font-size: 48px;
      width: 25vw;
      text-transform: uppercase;
      margin-bottom: 100px;
    }
    .advantages-block-workers {
      .advantage {
        font-size: 48px;
        height: 195px;
        display: flex;
        align-items: center;
        cursor: default;

        .number {
          margin-right: 22.92vw;
          font-weight: 500;
        }

        .advantage-header {
          text-transform: uppercase;
        }
        .advantage-hover {
          display: none;
          font-size: 20px;
        }
        &:hover {
          color: #4766af;
          .advantage-hover {
            display: block;
            color: #474747;
          }
        }
      }

      .divider {
        width: 100vw;
        position: absolute;
        left: 0;
        margin: 0;
      }
    }
  }
}
