.contacts-page {
  background: url('/src/assets/img/contacts/bg.png') no-repeat;
  height: max-content;

  .upper-block {
    padding: 459px 19.32vw 462px 14.22vw;
    display: flex;
    .little-note {
      color: #fff;
      h1 {
        font-size: 64px;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        max-width: 33vw;
      }
    }
    .circles {
      display: flex;
      margin-left: 11.3vw;
      .second-circle {
        margin-left: 4.32vw;
      }
      .circle-item {
        width: 190px;
        height: 190px;
        .front {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          color: white;
          width: 190px;
          height: 190px;
          background-color: #4766af;
          border-radius: 50%;
          border: 1px solid white;
          position: absolute;
          z-index: 1;
        }
        .back {
          display: block;
          position: absolute;
          width: 190px;
          height: 190px;
          margin-left: 10px;
          border: 1px solid white;
          border-radius: 50%;
          z-index: 0;
        }
      }
    }
  }
  .bottom-block {
    padding: 208px 16.56vw 208px 12.5vw;
    display: flex;
    h2 {
      font-size: 64px;
      text-transform: uppercase;
    }
    .other-contacts {
      margin-left: 20.9vw;
      display: flex;
      flex-direction: column;
      .one-contact {
        width: 32.81vw;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-bottom: 42px;
        p {
          margin: 0;
          min-width: 17.03vw;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
