.footer {
  .container {
    width: 88vw;
    .footer-other-info {
      flex-direction: row;
      .footer-mobile-email {
        flex-direction: row;
        .emails {
          display: flex;
        }
        p {
          margin-left: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .footer {
    .container {
      width: 100vw;
      .links {
        margin-left: 10vw;
      }
      .footer-other-info {
        display: flex;
        flex-direction: column-reverse;
        .footer-mobile-email {
          justify-content: space-between;
          .emails {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
